/* Login Page CSS */
.loginFormContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.loginForm {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
}

.loginInputs {
  margin-bottom: 5vh;
}


/* Navbar CSS */
.navbar-menu {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  justify-content: flex-end;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgb(113, 113, 177);
}

.hamburger-icon {
  display: none; /* Initially hide the hamburger icon */
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.navbar-menu ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.navbar-menu ul li {
  margin-right: 10px;
}

.navbar-menu ul li:last-child {
  margin-right: 0;
}

.navbar-menu ul li a {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 20px;
}

.navbar-menu ul li a.active {
  font-weight: bold; 
  color: rgb(80, 32, 236);
}

/*  */
/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .navbar-menu ul {
    display: none; /* Hide the navbar items by default on small screens */
    position: absolute;
    top: 50px; /* Adjust as needed */
    right: 0;
    background-color: rgb(113, 113, 177);
    border-radius: 0 0 20px 20px; /* Apply rounded corners to the dropdown */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Add shadow for a dropdown effect */
  }

  .navbar-menu.open ul {
    display: flex; /* Show the navbar items when the menu is open */
    flex-direction: column;
  }

  .hamburger-icon {
    display: block; /* Display the hamburger icon on small screens */
  }
}